In [ ]:
# 1. 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열
# 이라고 한다.
# 0, 1, 1, 2, 3, 5, 8, 13, ...
# 입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.
# 10 => 0, 1, 1, 2, 3, 5, 8

In [100]:
# def fib(n):
#     a,b = 1,1
#     if n==1 or n==2:
#         return 1
        
#     for i in range(1,n):
#         a,b = b, a+b

#     return a
# [ fib(x) for x in range(1,10) ]

def fib(n):
    if n==0:
        return 0
    elif n==1 or n==2:
         return 1
    else:
        return fib(n-1) + fib(n-2)
for i in range(10):
    if fib(i) > 10:
        break
    print(fib(i))

0
1
1
2
3
5
8

In [11]:
# 2. 다음(카카오) 입사문제(리스트로 푸세요)
# 1차원의 점들이 주어졌을 때, 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수를 작성하시오.
# (단 점들의 배열은 모두 정렬되어있다고 가정한다.)
# 예를들어 S={1, 3, 4, 8, 13, 17, 20} 이 주어졌다면, 결과값은 (3, 4)가 될 것이다.
s={1,3,4,8,13,17,20}
def mindist(s):
    A = [(s[i],s[i+1]) for i in xrange(len(s)-1)]
    sub = lambda a: a[1]-a[0]
    return min(A, key=sub)
print(s)

{1, 3, 4, 8, 13, 17, 20}

In [48]:
s=[1,3,4,8,13,17,20]
def minimum_distance(s):
    min_dis=0
    result=0
    min_dis = max(s)-min(s)
    
    for i in range(len(s)-1):
        dis = s[i+1] - s[i]
        
        if min_dis > dis:
            min_dis = dis
            result = [s[i],s[i+1]]
            
    return result

print(minimum_distance(s))

[3, 4]

In [15]:
# 3. 문자열 바꾸기
# 다음과 같은 문자열이 있다.
# a:b:c:d
# 문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.
# a#b#c#d

In [16]:
word = "a:b:c:d"
removal=word.split(":")
insert="#".join(removal)
insert

'a#b#c#d'

In [ ]:
# 4. 리스트 평균 구하기
# 다음은 A학급 학생의 점수를 나타내는 리스트이다.
# 다음 리스트에서 60점 이상 점수의 평균을 구하시오.
# A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

In [30]:
grade_score = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

extract=list(filter(lambda grade_score: grade_score >= 60, grade_score))
print(sum(extract)/len(extract))

85.2

In [ ]:
# 5. 유사도
# sen1 = "오늘 멀티캠퍼스에서 너무 쉬운 프로그래밍을 공부했다"
# sen2 = "멀티캠퍼스에서 공부했던 오늘의 프로그래밍은 너무 쉬웠다"

# similarity(sen1, sen2, 2) #두 문장의 유사도는 68%입니다.
# similarity(sen1, sen2, 3) #두 문장의 유사도는 53%입니다.

"""
n: 문자의 개수
n=2일 경우, 
1) 2개씩 쪼갠다. 
['오늘', '늘 ', ' 멀', ..., '부했', '했다']
['멀티', '티캠', '캠퍼', ..., '쉬웠', '웠다']

2) 한 리스트 내에서 중복되는 단어는 제외시킨다.

3) 길이가 더 긴 쪽을 기준으로 하여 유사도를 아래와 같이 계산.
두 리스트에서 일치하는 단어가 12개였고
예를 들어 2번째 리스트 길이가 25라면,
12/25 = 0.5 --> 50% 유사하다 
"""

In [111]:
sen1 = "오늘 멀티캠퍼스에서 너무 쉬운 프로그래밍을 공부했다"
sen2 = "멀티캠퍼스에서 공부했던 오늘의 프로그래밍은 너무 쉬웠다"

def similarity(x,y,n):
    xlist=[]
    ylist=[]
    for i in range(len(x)-1):
        xlist.append(x[i:i+n])
    for j in range(len(y)-1):
        ylist.append(y[i:i+n])
   
    count=0
    for i in xlist:
        for j in ylist:
             if i == j:
                count += 1
    sim = count*100/len(y)
    print("두 문장의 유사도는 %d 입니다." % sim)
    
        
similarity(sen1, sen2, 2) 
similarity(sen1, sen2, 3)

두 문장의 유사도는 96 입니다.
두 문장의 유사도는 0 입니다.

In [107]:
a=(1,2)

set(a)

{1, 2}