In [14]:
#1. a 리스트에서 중복 숫자를 제거해 보자.
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b =[]

for i in a:
    if i not in b:
        b.append(i)
print(b)

[1, 2, 3, 4, 5]

In [23]:
# 2. while문을 사용해 1부터 1000까지의 자연수 중 3의 배수이면서 7의 배수인 수의 합을 구해 보자.

a=0
sum=0
while a < 1000:
    a += 1
    if a % 3 ==0 and a % 7 ==0:
        continue
    sum = sum+a
print(sum)

476812

In [15]:
# 3. while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.
# *
# **
# ***
# ****
# *****

i=0
while True:
    print("*"*i)
    i+=1
    if i>=5:
        break

*
**
***
****

In [10]:
# 4. for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
# 5.
# A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
# [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
# for문을 사용하여 A 학급의 평균 점수를 구해 보자.
a=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

In [ ]:
# 6. 자판기(pro, 커피 한 잔에 300원이라 가정, 초기 커피는 10개)
# 돈을 넣어 주세요: 500
# 거스름돈 200를 주고 커피를 줍니다.
# 돈을 넣어 주세요: 300
# 커피를 줍니다.
# 돈을 넣어 주세요: 100
# 돈을 다시 돌려주고 커피를 주지 않습니다.
# 남은 커피의 양은 8개입니다.
# 돈을 넣어 주세요: 0
# 종료합니다


coffee = 10
while True:
    money = int(input("돈을 넣어주세요 : "))
    if money ==300:
        print("커피를 줍니다")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다" %(money - 300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다")
        print("남은 커피의 양은 %d 입니다." %coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 넣어주세요 : 500
거스름돈 200를 주고 커피를 줍니다
돈을 넣어주세요 : 300
커피를 줍니다
돈을 넣어주세요 : 100
돈을 다시 돌려주고 커피를 주지 않습니다
남은 커피의 양은 8 입니다.