In [1]:
# a = [1,1,2,2,3,3,4,4,5,5]
# print(list(set(a)))

[1, 2, 3, 4, 5]

In [2]:
# 시간복잡도 :  단순하게 표현하자면..실행해야 할 프로그램 소스코드 문장의 수
# 0(빅오) - 표기법 : 시간복잡도 표기 방법

# 0 표기법
# <<<< 빠름                                                              느림 >>>>>
# 0(1) > 0(log n) > 0(n) > 0(n log n) > 0(n제곱) >0(n세제곱) > 0(2의 n제곱) > 0(n!)

SyntaxError: invalid syntax (<ipython-input-2-0ed09f72e07f>, line 1)

In [5]:
# i=0
# while True:
#     print(i)
#     i+=1
#     if i==100:
#         break
for i in range(10000):  
    print(i)
    if i==99:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [10]:
 #i가 짝수인 경우에만 출력, continue
for i in range(10):
    i+=1
    if i%2!=0 :
        continue
    print(i)

2
4
6
8
10

In [ ]:
# for i in range(횟수):      #i=0,   1, 2
#     for j in range(횟수):  #j=0, 1
#         문장1       #3*2번 수행
#         문장2       #3*2번
#     문장3           #3번
#     문장4           #3번
# 문장5               #1번
# 문장6               #1번

In [21]:
# ***
# ***
# ***
# ***
# 이중 for문 활용

# for i in range(1):  ##내가 한것
#     for j in range(4):
#         print("***")

for i in range(4):
    for j in range(3):
        print("*", end=="")
    print()

NameError: name 'end' is not defined

In [35]:
a=[]
a.append(10)
a

[10]

In [36]:
a.extend([20,30])
a

[10, 20, 30]

In [37]:
a.insert(1, 15)

In [25]:
a

[10, 15, 20, 30]

In [38]:
a.insert(len(a), 40)

In [27]:
a

[10, 15, 20, 30, 40]

In [32]:
# 20과 30 사이에 한 번에 25, 27
# a.insert(3, a.extend([25,27]))

In [33]:
a

[10, 15, 20, None, 30, 40, 40, 40, 25, 27, None, 25, 27]

In [39]:
a[:3]+[25,27]+a[3:]

[10, 15, 20, 25, 27, 30, 40]

In [40]:
#시작번호와 끝번호를 동일하게 하면 여러개의 데이터를 추가할 수 있음
a=[10, 15, 20, 30, 40]

In [41]:
a[3:3]= [25,27]

In [42]:
a

[10, 15, 20, 25, 27, 30, 40]

In [ ]:
a=[10,15,20,30,40]

In [ ]:
#pop:마지막 요소, 특정 번호의 데이터 삭제
#remove:데이터 값을 찾아서 삭제

In [45]:
a=[3,5,6]
#a.pop()
#a.pop(1)

del a[1]

In [46]:
a

[3, 6]

In [47]:
a=[4,5,6]
a.remove(5)

In [48]:
a

[4, 6]

In [50]:
a=[4,5,6]
#a.index(6)
a.count(4)

1

In [57]:
a=[4,5,6,4]
a.sort()
#a.sort(reverse=True) #a에는 정렬된 결과가 저장됨
#a.reverse()

In [58]:
a

[4, 4, 5, 6]

In [53]:
a=[4,5,6,4]
sorted(a)

[4, 4, 5, 6]

In [54]:
a

[4, 5, 6, 4]

In [62]:
a=[4,5,6,4]
#a.clear()
del a[:]#전체를 의미
a

[]

In [66]:
a=[100,200]
#[100,200,300,400]
# a.extend([300,400])
a[len(a):]=[300,400]
a

[100, 200, 300, 400]

In [68]:
a
if len(a): #len(a) != 0
    print("비어있지 않음")
else:
    print("비어있음")

비어있지 않음

In [69]:
if a: #a에 데이터가 있으므로 참
    print("비어있지 않음")

비어있지 않음

In [70]:
if not a :
    print("비어있음")

In [74]:
a=[3,1,2,4,5]
for idx, v in enumerate(a, start=1):
#     print(idx) #index번호
#     print(v)
    print(idx,v)
    #print(idx+1, v)

1 3
2 1
3 2
4 4
5 5

In [83]:
a=[3,-2,5,1,-6]

In [76]:
#a리스트에서 양수만 출력

In [88]:
# for idx, v in enumerate(a):
#     if v>0:
#         print(idx,v)
a=[3,-2,5,1,-6]
for i in a:
    if i<0:
        continue
    else:
        print(i, end=" ")

3 5 1

In [89]:
a=[3,7,1,5,2]

In [92]:
#a리스트에서 최소/최대값

# small=a[0]    #최소값 구하기
# for i in a:
#     if i < small:
#         small=i
# print(small)

big=a[0]    #최대값 구하기
for i in a:
    if i > big:
        big=i
print(big)

7

In [95]:
a.sort()
a

[1, 2, 3, 5, 7]

In [94]:
a[0]  # sort(reverse=True)  a[len(a)-1]

1

In [96]:
min(a)
max(a)

7

In [97]:
a

[1, 2, 3, 5, 7]

In [98]:
sum(a)

18

In [102]:
#list comprehension(리스트 내포) : 리스트 내부에 for, if문 등을 사용
#-> 리스트 생성

#리스트 표현식 작성법
# [식 for 변수 in 리스트]
x=[x for x in range(10)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [103]:
li=[]
for i in range(10):
    li+=[]

In [156]:
li=[]
    for i in range(10):
         li.append(i)

# [x for x in range(10)]
#list((x for x in range(10))) #제너레이터

IndentationError: unexpected indent (<ipython-input-156-882fb4a768e5>, line 2)

In [106]:
[x+1 for x in range(10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [110]:
#리스트 내포를 이용하여 10~20까지 값을 갖는 리스트를 생성

[b for b in range(10,21)]
b

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
b=[b for b in range(10,21)]
#변수b= [리스트]

--> 요런식으로 변경하기 위 코드는 보기 불편
mylist=[b for b in range(10,21)]
mylist

In [116]:
#[0, 5, 10, 15, 20, 25]
#리스트 내포를 사용하여 생성

#[x for x in range(0,26,5)]
[x*5 for x in range(0,6)]

[0, 5, 10, 15, 20, 25]

In [119]:
#[식 for 변수 리스트 if 조건식]
[i for i in range(10) if i%2 ==0]

# """
# 1) range(10)  => 0,1,2,.....,9
# 2) if i%2 ==0 => 짝수만 뽑아냄
# 3) 뽑아낸 짝수가 i에 전달되어 리스트가 생성 됨
# """

[0, 2, 4, 6, 8]

In [121]:
#0~9까지 숫자 중에서 홀수에 3을 곱한 리스트를 생성
#[1,3,5,7,9]
#[3,6,9,12,15,....,27]
[x*3 for x in range(0,10) if x%2==1]

[3, 9, 15, 21, 27]

In [122]:
a=['a','b','c','d','e']
b=['A','B','C','D','E']

In [131]:
#[i+j for i in a for j in b]

mylist=[]
for i in a:
    for j in b:
        mylist.append(i+j)
mylist

['aA',
 'aB',
 'aC',
 'aD',
 'aE',
 'bA',
 'bB',
 'bC',
 'bD',
 'bE',
 'cA',
 'cB',
 'cC',
 'cD',
 'cE',
 'dA',
 'dB',
 'dC',
 'dD',
 'dE',
 'eA',
 'eB',
 'eC',
 'eD',
 'eE']

In [138]:
#2단~9단 결과를 출력
i=[]
a=[2,3,4,5,6,7,8,9]
b=[1,2,3,4,5,6,7,8,9]
print([i*j for i in a for j in b])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [135]:
mylist=[]
for i in range(2,10): #단
    for j in range(1,10):
        mylist.append(i*j)

In [136]:
print(mylist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [139]:
print([i*j for i in range(2,10)
           for j in range(1,10)])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [141]:
[i for i in range(30) if i %2==0 and i%3 ==0]

[0, 6, 12, 18, 24]

In [143]:
#리스트 내포에서 else도 사용 가능, 단, elif는 불가

# 0~9까지 수를 리스트에 저장하고자 하는데, 
# 짝수는 'even', 홀수는 'odd'
#['even', 'odd','even', 'odd','even', 'odd','even', 'odd','even', 'odd','even', 'odd']

In [146]:
['even'if i%2==0 else 'odd' for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [149]:
#['zero', 'odd','even', 'odd','even', 'odd','even', 'odd','even', 'odd','even', 'odd']

['zero' if i==0 else 'even' if i%2==0 else'odd' for i in range(10)]

['zero', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [150]:
for i in range(10):
    if i==0:
        'zero'
    elif i%2==0:
        'even'
    else:
        'odd'